 body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background: #0f172a;
      color: #e5e7eb;
      line-height: 1.6;
    }

    header {
      padding: 60px 20px;
      text-align: center;
      background: linear-gradient(135deg, #020617, #020617);
    }

    

    header h1 {
      font-size: 2.8rem;
      margin-bottom: 10px;
    }
    header p {
      font-size: 1.1rem;
      color: #94a3b8;
    }
    nav {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 15px;
      background: #020617;
      position: sticky;
      top: 0;
    }
    nav a {
      color: #38bdf8;
      text-decoration: none;
      font-weight: bold;
      background: rgba(2, 6, 23, 0.7);
      backdrop-filter: blur(10px);
    }
    section {
      max-width: 1000px;
      margin: auto;
      padding: 60px 20px;
    }
    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
      border-bottom: 2px solid #1e293b;
      padding-bottom: 10px;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }
    .card {
      background: #020617;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    }
    .card h3 {
      margin-top: 0;
      color: #38bdf8;
    }
    footer {
      text-align: center;
      padding: 30px;
      background: #020617;
      color: #64748b;
    }

    .project-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
}

    .card {
    background: #020617;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
    }


    #t-a {
    background: #020617;
    padding: 1px;
    border-radius: 1px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    #t-a:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
    }


    .video-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;     /* Standard video ratio */
    overflow: hidden;
    border-radius: 12px;
    background: black;
    }

    .video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;        /* Keeps alignment */
    display: block;
    }




    

